.navbar{
  padding: 10px 0;
  position: fixed !important;
  z-index: 100 !important;
  right: 0;
  left: 0;
}

.container-fluid{
  padding: 20px;
}

#spac{
  color: rgb(3, 164, 237);
}

#dyna{
  color:  rgb(254, 63, 64);
}

.navbar-brand{
  text-decoration: none;
  font-size: 30px !important;
  margin-left: 100px;
  font-weight: 500;
}

#navbarNav{
  margin-left: 120px;
}

.navbar-nav{
  /* border: 2px solid red; */
  margin-left: 300px;
}

.navbar-nav li{
  font-size: 18px;
  margin-right: 20px;
  transition: .20s;
  font-weight: 500;
}

.active{
  color:  rgb(254, 63, 64) !important;
}

.nav-item a:hover{
  color:  rgb(254, 63, 64) !important;
}

.contact-now{
  background-color:  rgb(254, 63, 64) !important;
  color: white !important;
  padding: 8px 20px !important;
  border-radius: 42px;
}

.contact-now:hover{
  background-color: white !important;
  color:  rgb(254, 63, 64) !important;
  box-shadow: 0 0 2px  rgb(254, 63, 64);
}

#home{
  padding-bottom: 0 !important;
}

.first-hero-message-container{
  /* border: 2px solid red !important; */
  position: relative;
  left: -550px;
  top: -450px;
  width: 600px !important;
}

.welcome-message{
  color:  rgb(254, 63, 64);
  font-size: 20px;
  font-weight: 500;
}

#we-make-digital{
  line-height: 1.2 !important;
}

#digital-ideas{
  color: rgb(3, 164, 237);
}

#seo{
  color:  rgb(254, 63, 64);
}

.lead{
  font-weight: 400 !important;
  margin-bottom: 40px;
  margin-top: 40px;
}

.input-group{
  background-color: rgb(3, 164, 237);
  padding: 10px 20px;
  width: 470px !important;
  border-radius: 40px;
}

.input-field{
  width: 270px;
  background-color: transparent !important;
  color: white;
  border: none;
  outline: none;
  margin-right: 20px;
}

.input-field::placeholder{
  color: white;
}

#button-addon2{
  background-color: white;
  color: rgb(254, 63, 64);
  border-radius: 42px;
  font-size: 17px;
  padding: 10px 20px;
  font-weight: 500;
}

.first-hero-img{
  /* border: 2px solid red; */
  transform: scale(1.5);
  margin-top: 250px;
  margin-left: 150px !important;
}

#about-us{
  /* border: 2px solid red; */
  background-image: url("	https://templatemo.com/templates/templatemo_562_space_dynamic/assets/images/about-bg.png");
  padding: 120px 0;
  margin-top: -200px;
}

.features img{
  /* border: 2px solid red; */
  float: left;
  margin-right: 20px;
}

.features-container{
  /* border: 2px solid blue; */
  display: grid;
  grid-template-columns: 500px 400px;
  grid-template-rows: 130px 100px;
  width: 1000px;
  margin-left: -300px;
  color: white;
  margin-top: -500px;
}

.girl-img{
  position: relative;
  left: 100px;
}

#services{
  /* border: 2px solid red; */
  width: 100%;
}

.hero-three-h5{
  font-size: 30px !important;
}

#seo3{
  color: rgb(3, 164, 237);
}

#project3{
  color: rgb(254, 63, 64);
}

#range-container {
  /* border: 1px solid red; */
  position: relative !important;
}

#range-container h5 {
  font-size: 18px;
  font-weight: 800 !important;
}

.range-percent {
  position: absolute;
  left: 80%;
  color: #03a4ed;
  font-weight: 600;
}

#range-percent2 {
  position: absolute;
  left: 85%;
  color: #03a4ed;
  font-weight: 600;
}

#range2 {
  width: 88%;
}

#range-percent3 {
  position: absolute;
  left: 90%;
  color: #03a4ed;
  font-weight: 600;
}

#range3 {
  width: 94%;
}

.ranges {
  margin-top: 30px;
}

.first-hr,
.second-hr {
  position: relative;
  width: 100%;
  height: 7px;
  background-color: rgb(254, 63, 64);
  border-radius: 5px;
}

.first-hr {
  width: 100%;
  background-color: lightgray;
}

.second-hr {
  background: linear-gradient(120deg,
      rgb(244, 82, 42),
      rgb(239, 43, 112));
  bottom: 7px;
  z-index: 10;
  width: 84%;
}

#offers{
  color: rgb(3, 164, 237);
}

#provide{
  color: rgb(254, 63, 64);
}

.hero4-h5{
  font-size: 40px !important;
  font-weight: 700;
}

.cards-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 100px;
}

.cards-container .below-card,
.cards-container .above-card {
  width: 250px;
  padding: 5px;
}

.cards-container .below-card {
  background: linear-gradient(120deg,
      rgb(244, 82, 42),
      rgb(239, 43, 112));
  color: white;
  position: relative;
  top: 50px;
  height: 150px;
  padding: 8px !important;
  padding-top: 20px !important;
  border-radius: 15px;
}

.cards-container .below-card h5 {
  font-size: 1.4rem;
}

.cards-container .below-card p {
  font-size: 1rem;
}


.cards-container .above-card {
  border-radius: 15px;
  background-color: white;
  padding: 10px;
  position: absolute;
  top: 0;
  height: 240px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* z-index: -200; */
  box-shadow: 0 0 8px 1px lightgrey;
  transition: 0.40s;

}

.cards-container .above-card:hover {
  opacity: 0;
}

.cards-container1,
.cards-container2,
.cards-container3,
.cards-container4 {
  position: relative;
}

.design-square {
  background: linear-gradient(120deg,
      rgb(244, 82, 42),
      rgb(239, 43, 112));
  height: 50px;
  width: 40px;
  margin: auto;
  position: relative;
  transform: rotate(45deg);
  z-index: -100;
}

.news-section{
  position: relative;
  /* border: 2px solid blue; */
  width: 1300px;
  margin-left: 100px;
  margin-top: 200px;
}

#news-first-h5{
  font-size: 40px;
  margin-bottom: 10px;
  margin-top: 40px;
}

#trending{
  color: rgb(3, 164, 237);
}

#news{
  color:  rgb(254, 63, 64);
}

.news-img-container img{
  width: 650px;
  margin-top: 65px;
}

.seo-digital-marketing-section{
  width: 600px;
  padding: 20px;
  margin-left: 10px;
  border-radius: 20px;
  position: relative;
  bottom: 100px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}


.seo-digital-top-section{
  display: flex;
}

.seo-digital-top-section i{
  margin-right: 10px;
}

.seo-digital-top-section p{
  margin-right: 70px;
}

.seo-digital-bottom-section h5{
  font-size: 25px;
}

.seo-digital-bottom-section p{
  font-size: 17px;
}

.discover-more{
  position: relative;
  bottom: 70px;
  left: 15px;
  padding: 12px 40px;
  border-radius: 40px;
  background-color: rgb(3, 164, 237);
  color: white;
  border: none;
}

.news-right-section{
  /* border: 2px solid red; */
  position: absolute;
  top: 0;
  right: 0;
}

.first-news-article{
  /* border: 2px solid blue; */
  width: 600px !important;
  height: 250px;
}

.first-news-article i{
  transform: scale(.9);
  position: relative;
  top: 20px;
}

.date-in-article{
  font-size: 10px;
  position: relative;
  top: 20px;
}

.first-news-article h5{
  font-size: 20px;
  /* border: 2px solid red; */
}

.first-news-article p{
  font-size: 16px;
  /* border: 2px solid red; */
  position: relative;
  bottom: 20px;
}

.img-in-article{
  /* border: 2px solid red; */
  position: relative;
  bottom: 40px;
  width: 350px;
  border-radius: 20px;
}

#girl-coding-icon{
  width: 250px;
  position: relative;
  left: 300px;
}


/* Message Us section */
#message-us{
  /* border: 2px solid red; */
  padding: 150px 0;
  background-image: url("	https://templatemo.com/templates/templatemo_562_space_dynamic/assets/images/contact-bg.png");
  background-repeat: no-repeat;
  color: white;
}

.left-right-container{
  /* border: 2px solid blue; */
  display: flex;
}

.message-us-left-section{
  /* border: 2px solid red; */
  position: relative;
  margin-left: 100px;
}

#feel-free-to{
  font-size: 30px;
  margin-bottom: 30px;
}

#lorem-ipsum-dolor{
  margin-bottom: 30px;
}

#for-any-enquiry{
  font-size: 20px;
}

.icon-contact{
  /* border: 2px solid red; */
  display: inline-block;
}

.message-us-right-section{
  /* border: 2px solid blue; */
  width: 600px;
  margin-left: 100px;
  margin-top: -50px;
  padding: 60px 30px;
  background-color: white;
  border-radius: 20px;
}

#name-input,
#surname-input,
#email,
#message{
  border-radius: 25px;
  border: none;
  margin-bottom: 20px;
  padding: 10px 15px;
  outline: none;
  background-color: rgb(209, 243, 255);
}

#name-input{
  margin-right: 15px;
}

#name-input,
#surname-input,
#email{
  width: 258px;
}

#email{
  width: 535px;
}

#message{
  width: 535px;
  min-height: 40px;
  max-height: 200px;
}

#send-message-btn{
  padding: 10px 35px;
  font-size: 18px;
  border-radius: 30px;
  border: none;
  margin-top: 15px;
  color: white;
  background-color: rgb(3, 164, 237);
  transition: .20s;
}

#send-message-btn:hover{
  background-color: rgb(254, 63, 64);
}